/* ========================================================================= */
/* Component:                                              Custom CSS Styles */
/* Project Name:                                               Era Cape Town */
/* Project URL:                                          www.eracapetown.com */
/* Author(s):                                    andrew@bakerhilldigital.com */
/* ========================================================================= */

/* ================= */
/*      COLORS       */
/* ================= */

/*
  White      - #fff
             - rgba(255, 255, 255, 1);

  Black      - #000
             - rgba(255, 255, 255, 1);

  Light Grey - #f5f5f5
             - rgba(229, 229, 229, 1);

  Dark Grey  - #333
             - rgba(51, 51, 51, 1);

  Era Blue   - #00a8ff
             - rgba(0, 168, 255, 1);

  Baker Hill - #ff0051
             - rgba(255, 0, 81, 1);
*/





/* ================= */
/*   BREAK POINTS    */
/* ================= */

/*
  Small (0px to 568px)
  @media screen and (min-width: 0em) and (max-width: 35.5em) {}

  Small to Medium
  @media screen and (min-width: 0em) and (max-width: 48em) {}

  Small to Large
  @media screen and (min-width: 0em) and (max-width: 81.250em) {}

  Medium (569px to 768px)
  @media screen and (min-width: 35.563em) and (max-width: 48em) {}

  Large (769px to 1300px)
  @media screen and (min-width: 48.063em) and (max-width: 81.250em) {}

  Extra-Large (1301px and Up)
  @media screen and (min-width: 81.313em) {}
*/





/* ================================ */
/*  Required Wordpress Core Styles  */
/* ================================ */

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.gallery-caption,
.bypostauthor,
.alignnone {
  
}





/* ================= */
/*      GLOBAL       */
/* ================= */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}
body, html {
  color: rgba(51, 51, 51, 1);
  font-size: 10px;
}
section {
  padding: 100px 0;
}
section .limiter {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}
h1:after {
  content: '.';
  font-size: 4rem;
  line-height: 0;
  color: rgba(0, 168, 255, 1);
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 100px 0;
  text-align: center;
}
blockquote {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 18.5714px;
}
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgba(0, 168, 255, 1);
}
input,
label,
select,
textarea,
button {
  font-size: 1.5rem;
  font-weight: 300;
  -webkit-appearance: none;
}
ul, li {
  font-size: 1.5rem;
  font-weight: 300;
}

#venue-hire {
  display: none;
}

/*--- Global Small to Medium --- */
@media screen and (min-width: 0em) and (max-width: 81.250em) {
  div.limiter p,
  div.limiter h1 {
    margin-left: 38px;
    margin-right: 38px;
  }
}





/* ================= */
/*    NAVIGATION     */
/* ================= */

section#sticky-nav {
  position: fixed;
  min-width: 100%;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
section#sticky-nav .funktion-one {
  font-size: 2.1rem;
  margin-top: -2px;
  color: rgba(255, 255, 255, 1);
  transition: 0.6s;
}
section#sticky-nav.active .funktion-one {
  color: rgba(51, 51, 51, 1);
  transition: 0.6s;
}
section#sticky-nav a {
  color: rgba(255, 255, 255, 1);
  transition: 0.6s;
}
section#sticky-nav a:hover {
  color: rgba(0, 168, 255, 1);
  transition: 0.6s;
}

header.sticky-nav {
  max-width: 1200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* --- Desktop Navigation --- */
nav.global ul {
  list-style-type: none;
  float: right;
  text-align: right;
  margin-top: 48px;
  padding: 0;
}
nav.global ul li {
  float: left;
  margin-right: 45px;
}
nav.global ul li:last-child {
  margin-right: 0;
}
nav.global div.mobile-button {
  display: none;
  float: right;
  margin-right: 38px;
}
nav.global div.mobile-button svg {
  height: 22px;
}
nav.global div.mobile-button svg:hover {
  cursor: pointer;
}
nav.global div.mobile-button path {
  fill: rgba(255, 255, 255, 1);
  transition: 0.6s;
}
nav.global div.mobile-button.hover path {
  fill: rgba(0, 168, 255, 1) !important;
  transition: 0.6s;
}

/* --- Mobile Navigation --- */
nav.mobile ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
nav.mobile ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
nav.mobile ul li a {
  width: 100%;
  display: inherit;
  padding: 15px 0;
}
nav.mobile ul li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 1);
}
nav.mobile ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

/*--- Navigation Small to Medium --- */
@media screen and (min-width: 0em) and (max-width: 48em) {
  nav.global ul {
    display: none;
  }
  nav.global div.mobile-button {
    margin-top: 20px;
    display: block;
  }
}

@media screen and (min-width: 0) and (max-width: 895px) {
  .funktion-one {
    display: none;
  }
}

/*--- Navigation Large --- */
@media screen and (min-width: 48em) and (max-width: 81.250em) {
  nav.global ul {
    margin-right: 38px;
  }
  nav.global ul li {
    margin-right: 26px;
    font-size: 1.5rem;
  }
}

/*--- Navigation Large and Up --- */
@media screen and (min-width: 48em) {
  nav.mobile {
    display: none;
  }
}

section#sticky-nav {
  z-index: 1000;
}

section#sticky-nav,
section#sticky-nav.active,
section#sticky-nav > *
section#sticky-nav.active > * {
  transition: 0.6s;
}

section#sticky-nav.active {
  background-color: rgba(255, 255, 255, 0.8);
}
section#sticky-nav.active a {
  color: rgba(51, 51, 51, 1);
}
section#sticky-nav.active a:hover {
  color: rgba(0, 168, 255, 1);
}
section#sticky-nav.active .sticky-nav div.logo {
  margin-top: 14px;
  margin-bottom: 13px;
}
section#sticky-nav.active nav.global ul {
  margin-top: 26px;
}
section#sticky-nav.active div.mobile-button {
  margin-top: 20px;
  margin-bottom: 16px;
  z-index: 2000;
}
section#sticky-nav.active div.mobile-button path {
  fill: rgba(51, 51, 51, 1);
}

/*--- Logo --- */
.sticky-nav .logo {
  white-space: nowrap;
}
.sticky-nav .logo svg {
  trasition: 0.5s;
  margin-top: 29px;
  margin-right: 10px;
}

.sticky-nav .logo:after {
  content: '.';
  font-size: 4rem;
  line-height: 0;
  color: rgba(0, 168, 255, 1);
}

#sticky-nav.active .logo svg {
  trasition: 0.5s;
  margin-top: -7px;
}
#sticky-nav.active .logo svg polygon,
#sticky-nav.active .logo svg rect,
#sticky-nav.active .logo svg path {
  trasition: 0.5s;
  fill: rgba(41, 41, 41, 1);
}

/*--- Logo Small --- */
@media screen and (min-width: 0em) and (max-width: 48em) {
  .sticky-nav .logo {
    trasition: 0.5s;
    margin-bottom: 6px;
  }
  .sticky-nav .logo svg {
    trasition: 0.5s;
    margin-top: 8px;
  }
}

/* --- Logo Small to Large --- */
@media screen and (min-width: 0em) and (max-width: 81.250em) {
  .sticky-nav .logo {
    trasition: 0.5s;
    margin-left: 38px;
    margin-right: -38px;
  }
}





/* ========================== */
/*  MASTHEAD / HOME / SLIDER  */
/* ========================== */

section#home {
  background-color: rgba(51, 51, 51, 1);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  max-width: none;
  height: 100vh;
  padding: 0;
}
.tp-bannertimer {
  background-color: rgba(0, 168, 255, 0.7) !important;
}





/* ======= */
/*  ABOUT  */
/* ======= */

section#about {
  background-color: rgba(255, 255, 255, 1);
}

/* --- Accordion --- */
div.accordion .part h2,
div.accordion .part p {
  padding: 0;
  margin: 0;
}
div.accordion .part h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: rgba(51, 51, 51, 1);
  transition: 0.5s;
  padding: 20px;
}
div.accordion .part h2:hover {
  color: rgba(0, 168, 255, 1);
  transition: 0.5s;
}
div.accordion .part .disclosure {
  text-align: left;
  color: rgba(146, 146, 146, 1);
  font-size: 1.4rem;
  display: none;
  padding: 0 20px 15px 20px;
}
div.accordion .part ul.disclosure {
  margin: 0;
  padding-bottom: 20px;
  list-style-type: none;
  padding-left: 20px;
  line-height: 30px;
  font-size: 14px;
  color: rgba(146, 146, 146, 1);
}
div.accordion .part ul.disclosure li.total {
  margin-top: 10px;
  font-weight: 600;
}
div.accordion .part.active h2 {
  color: rgba(0, 168, 255, 1);
  font-weight: 600;
}
div.accordion .part.active .disclosure {
  display: block;
}
div.accordion .part {
  border-top: 1px solid rgba(229, 229, 229, 1);
  border-right: 1px solid rgba(229, 229, 229, 1);
  border-bottom: none;
  border-left: 1px solid rgba(229, 229, 229, 1);
  margin-right: 38px;
  margin-left: 0;
}
div.accordion .part:last-child {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}
@media screen and (min-width: 0em) and (max-width: 81.250em) {
  div.accordion .part {
    margin-left: 38px;
  }
}

/* --- Sound Cloud Widgets --- */
div.soundclouds iframe {
  max-width: 550px;
  height: 120px;
  float: right;
  margin-bottom: 20px;
}
@media screen and (min-width: 0em) and (max-width: 64em) {
  div.soundclouds iframe {
    max-width: none;
  }
  div.soundclouds.pure-u-24-24 {
    margin-top: 100px;
  }
}





/* ================== */
/*  Events & Tickets  */
/* ================== */

section#events-tickets {
  background-color: rgba(245, 245, 245, 1);
}
div.event-tile .event-tile-bounds {
  background-color: rgba(255, 255, 255, 1);
  margin: 0 20px;
  padding: 45px 0;
  height: 250px;
}
div.event-tile .event-tile-bounds p {
  margin: 0;
}
div.event-tile .event-tile-bounds p.presents {
  margin: 0;
  text-transform: uppercase;
}
div.event-tile .event-tile-bounds p.sponsor {
  display: table;
  width: 100%;
  margin: 20px 0;
  height: 70px;
}
div.event-tile .event-tile-bounds p.sponsor span.vertical {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
div.event-tile .event-tile-bounds p.title {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 168, 255, 1);
}
div.event-tile .event-tile-bounds p.date {
  margin-bottom: 25px;
}

@media screen and (min-width: 0em) and (max-width: 48em) {
  div.event-tile .event-tile-bounds {
    margin-bottom: 15px;
  }
}
.newsletter {
  background-color: rgba(255, 255, 255, 1);
  margin: 50px 20px 0 20px;
  padding: 50px;
  font-size: 1.6rem;
  text-align: center;
}
.newsletter strong {
  display: block;
}
.newsletter input {
  margin: 50px 0;
  padding: 15px 0;
  text-align: center;
  border: none;
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
}

@media screen and (min-width: 48.063em) {
  .newsletter input {
    width: 50%;
  }
}
.newsletter input.button {
  width: 200px;
}

div.event-tile .event-tile-bounds a.button,
div.newsletter #mc-embedded-subscribe {
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}
div.event-tile .event-tile-bounds a.button:hover,
div.newsletter #mc-embedded-subscribe:hover {
  transition: 0.5s;
  border: 1px solid rgba(0, 168, 255, 1);
  background-color: rgba(0, 168, 255, 1);
  color: rgba(255, 255, 255, 1);
}





/* ================ */
/*  Table Bookings  */
/* ================ */

section#table-bookings {
  background-color: rgba(255, 255, 255, 1);
}
.booking-accordion .mobile-book-button {
  display: none;
}

iframe.hidden {
  display: none;
  height: 0px !important;
}

form#ss-form {
  margin-top: -30px;
}
form#ss-form select,
form#ss-form input,
form#ss-form textarea {
  transition: 0.5s;
  width: 100%;
  height: 60px;
  border: 1px solid rgba(229, 229, 229, 1);
  padding: 15px;
  margin: 10px 0 20px 0;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
}
form#ss-form select {
  color: rgba(0, 168, 255, 1);
  border: 1px solid rgba(0, 168, 255, 1);
}
form#ss-form textarea {
  height: 100px;
  text-transform: none;
}
form#ss-form input#ss-submit {
  background-color: transparent;
  transition: 0.5s;
  width: 150px;
}
form#ss-form input#ss-submit:hover {
  transition: 0.5s;
  border: 1px solid rgba(0, 168, 255, 1);
  background-color: rgba(0, 168, 255, 1);
  color: rgba(255, 255, 255, 1);
}
form#ss-form .ss-form-entry p {
  margin: 0;
}
form#ss-form .draft-response {
  display: none;
}
form#ss-form .ss-required-asterisk {
  color: rgba(255, 0, 81, 1);
}
.success-message {
  display: none;
  margin-left: 20px;
  margin-bottom: 0;
  text-align: left;
  color: rgba(0, 168, 255, 1);
}
.error-message {
  display: none;
  margin-left: 20px;
  margin-bottom: 0;
  text-align: left;
  color: rgba(51, 51, 51, 1);
}
.validation-error {
  transition: 0.5s;
  border: 1px solid rgba(255, 0, 81, 1) !important;
}

@media screen and (min-width: 0em) and (max-width: 64em) {
  .mobile-book-button {
    display: block !important;
    border: 1px solid rgba(229, 229, 229, 1);
    line-height: 0;
    margin-top: 10px;
    text-align: center;
  }
  .mobile-book-button a {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
  }
  form#ss-form {
    margin: 50px 40px 0 40px;
  }
  form#ss-form input#ss-submit,
  form#ss-form .ss-navigate,
  form#ss-form #navigation-table {
    width: 100%;
  }
  .ss-question-list {
    margin-left: 0 !important;
  }
}





/* ========= */
/*  Contact  */
/* ========= */

section#contact {
  background-color: rgba(245, 245, 245, 1);
}

.contact-tile-bounds p {
  margin: 0 0 20px 0;
  text-align: left;
}
.contact-tile-bounds p strong {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.contact-tile-bounds p strong img {
  height: 10px;
  margin: 0 10px 0 0;
}
.contact-tile-bounds p a {
  transition: 0.5s;
  color: rgba(41, 41, 41, 1);
}
.contact-tile-bounds p a:hover {
  transition: 0.5s;
  color: rgba(0, 168, 255, 1);
}
.contact-tile-bounds {
  background-color: rgba(255, 255, 255, 1);
  margin: 0 20px;
  padding: 45px;
  height: 200px;
}
.contact-tile.directions .contact-tile-bounds {
  background-image: url('../../../uploads/2015/10/map-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 20px solid #fff;
  height: 160px;
}
.contact-tile.directions .contact-tile-bounds p {
  text-align: center;
}
.contact-tile.directions .contact-tile-bounds p a {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 25px;
  border-radius: 25px;
  opacity: 0.9;
  margin-top: 50px;
  display: inline-block;
}
.contact-tile.directions .contact-tile-bounds p a:hover {
  transition: 0.5s;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 168, 255, 1);
  opacity: 1;
}
@media screen and (min-width: 0em) and (max-width: 64em) {
  .contact-tile-bounds {
    margin-bottom: 25px;
  }
  .contact-tile-bounds p {
    text-align: center;
    margin: 0 !important;
  }
  .contact-tile-bounds:last-child {
    margin-bottom: 0;
  }
}





/* ========= */
/*  Footer  */
/* ======== */

section#footer {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 50px 0 0 0;
}
section#footer div:last-child {
  text-align: right;
}

section#footer a.baker-hill,
section#footer a.baker-hill:hover {
  color: rgba(255, 0, 81, 1);
}
section#footer div.copyright span {
  color: rgba(0, 168, 255, 1);
  cursor: pointer;
}
section#footer div.affiliate.pure-u-24-24 {
  text-align: right;
}
section#footer div.copyright.pure-u-24-24 {
  margin-bottom: 35px;
}
section#footer .feedback-form-container {
  display: none;
  margin-top: 30px;
}
section#footer .feedback-form-container .success-message {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 0em) and (max-width: 35.5em) {
  footer.limiter {
    padding: 0 15px;
  }
  footer.limiter div.affiliate,
  footer.limiter div.copyright {
    text-align: center !important;
  }
  footer.limiter div.copyright {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 0em) and (max-width: 81.250em) {
  section#footer {
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 0;
  }
}





/* ========== */
/*  404 Page  */
/* ========== */

section.error-404 {
  text-align: center;
}
section.error-404 p.number {
  margin: 100px 0;
  font-size: 9rem;
}
section.error-404 p.message {
  margin: 20px 0;
  font-size: 2.4rem;
}
