/* ===================================================== */
/* Component:                          Custom CSS Styles */
/* Project Name:                           Era Cape Town */
/* Project URL:                      www.eracapetown.com */
/* Author(s):                andrew@bakerhilldigital.com */
/* ===================================================== */

/*
  White      - #fff
             - rgba(255, 255, 255, 1)

  Black      - #000
             - rgba(255, 255, 255, 1)

  Light Grey - #f5f5f5
             - rgba(229, 229, 229, 1)

  Dark Grey  - #333
             - rgba(51, 51, 51, 1)

  Era Blue   - #00a8ff
             - rgba(0, 168, 255, 1)

  Baker Hill - #ff0051
             - rgba(255, 0, 81, 1)
*/


/*

Small (0px to 568px)
  @media screen and (min-width: 0em) and (max-width: 35.5em) {}

Medium (569px to 768px)
  @media screen and (min-width: 35.563em) and (max-width: 48em) {}

Large (769px to 1300px)
  @media screen and (min-width: 48.063em) and (max-width: 81.250em) {}

Extra-Large (1301px and Up)
  @media screen and (min-width: 81.313em) {}

*/





/* ================= */
/*      GLOBAL       */
/* ================= */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}
body,
html {
  color: rgba(51, 51, 51, 1);
}
section {
  padding: 100px 0;
}
section .limiter {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}
h1 span {
  font-size: 40px;
  line-height: 0;
  color: rgba(0, 168, 255, 1);
}
h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 100px 0;
  text-align: center;
}
blockquote {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgba(0, 168, 255, 1);
}

/*--- Global Small to Medium --- */
@media screen and (min-width: 0em) and (max-width: 81.250em) {
  div.limiter p,
  div.limiter h1 {
    margin-left: 38px;
    margin-right: 38px;
  }
}





/* ================= */
/*    NAVIGATION     */
/* ================= */

section#sticky-nav {
  position: fixed;
  min-width: 100%;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

section#sticky-nav a {
  color: rgba(255, 255, 255, 1);
  transition: 0.6s;
}
section#sticky-nav a:hover {
  color: rgba(0, 168, 255, 1);
  transition: 0.6s;
}

header.sticky-nav {
  max-width: 1200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* --- Desktop Navigation --- */
nav.global ul {
  list-style-type: none;
  float: right;
  text-align: right;
  margin-top: 48px;
  padding: 0;
}
nav.global ul li {
  float: left;
  margin-right: 45px;
}
nav.global ul li:last-child {
  margin-right: 0;
}
nav.global div.mobile-button {
  display: none;
  float: right;
  margin-right: 38px;
}
nav.global div.mobile-button svg {
  height: 22px;
}
nav.global div.mobile-button svg:hover {
  cursor: pointer;
}
nav.global div.mobile-button path {
  fill: rgba(255, 255, 255, 1);
  transition: 0.6s;
}
nav.global div.mobile-button.hover path {
  fill: rgba(0, 168, 255, 1) !important;
  transition: 0.6s;
}

/* --- Mobile Navigation --- */
nav.mobile ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
nav.mobile ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
nav.mobile ul li:first-child {
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 1);
}
nav.mobile ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

/*--- Navigation Small to Medium --- */
@media screen and (min-width: 0em) and (max-width: 48em) {
  nav.global ul {
    display: none;
  }
  nav.global div.mobile-button {
    margin-top: 14px;
    display: block;
  }
}

/*--- Navigation Large --- */
@media screen and (min-width: 48em) and (max-width: 81.250em) {
  nav.global ul {
    margin-right: 38px;
  }
  nav.global ul li {
    margin-right: 26px;
    font-size: 15px;
  }
}

/*--- Navigation Large and Up --- */
@media screen and (min-width: 48em) {
  nav.mobile {
    display: none;
  }
}

section#sticky-nav,
section#sticky-nav.active,
section#sticky-nav a,
section#sticky-nav.active a,
section#sticky-nav .sticky-nav div.logo,
section#sticky-nav.active .sticky-nav div.logo,
section#sticky-nav nav.global ul,
section#sticky-nav.active nav.global ul,
section#sticky-nav div.mobile-button,
section#sticky-nav.active div.mobile-button,
section#sticky-nav div.mobile-button path,
section#sticky-nav.active div.mobile-button path {
  transition: 0.6s;
}

section#sticky-nav.active {
  background-color: rgba(255, 255, 255, 0.8);
}
section#sticky-nav.active a {
  color: rgba(51, 51, 51, 1);
}
section#sticky-nav.active a:hover {
  color: rgba(0, 168, 255, 1);
}
section#sticky-nav.active .sticky-nav div.logo {
  margin-top: 13px;
  margin-bottom: 13px;
}
section#sticky-nav.active nav.global ul {
  margin-top: 26px;
}
section#sticky-nav.active div.mobile-button {
  margin-top: 20px;
  margin-bottom: 16px;
}
section#sticky-nav.active div.mobile-button path {
  fill: rgba(51, 51, 51, 1);
}

/*--- Logo --- */

.sticky-nav .logo {
  margin-top: 35px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 5px;
}
.sticky-nav .logo a:link, 
.sticky-nav .logo a:visited {
  color: rgba(255, 255, 255, 1);
}
.sticky-nav .logo span {
  color: rgba(0, 168, 255, 1);
}

/*--- Logo Small --- */
@media screen and (min-width: 0em) and (max-width: 48em) {
  .sticky-nav .logo {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

/* --- Logo Small to Large --- */
@media screen and (min-width: 0em) and (max-width: 81.250em) {
  .sticky-nav .logo {
    margin-left: 38px;
    margin-right: -38px;
  }
}





/* ========================== */
/*  MASTHEAD / HOME / SLIDER  */
/* ========================== */

section#home {
  background-image: url('../../../uploads/2015/09/era-mast.jpg');
  background-color: rgba(51, 51, 51, 1);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  max-width: none;
  height: 100vh;
}





/* ======= */
/*  ABOUT  */
/* ======= */

section#about {
  background-color: rgba(255, 255, 255, 1);
}

/* --- Accordion --- */
div.accordion {
}
div.accordion .part h2,
div.accordion .part p {
  padding: 0;
  margin: 0;
}
div.accordion .part h2 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: rgba(51, 51, 51, 1);
  transition: 0.5s;
  padding: 20px;
}
div.accordion .part h2:hover {
  color: rgba(0, 168, 255, 1);
  transition: 0.5s;
}
div.accordion .part p {
  text-align: left;
  color: rgba(146, 146, 146, 1);
  font-size: 14px;
  display: none;
  padding: 0 20px 15px 20px;
}
div.accordion .part.active h2 {
  color: rgba(0, 168, 255, 1);
}
div.accordion .part.active p {
  display: block;
}
div.accordion .part {
  border-top: 1px solid rgba(229, 229, 229, 1);
  border-right: 1px solid rgba(229, 229, 229, 1);
  border-bottom: none;
  border-left: 1px solid rgba(229, 229, 229, 1);
  margin-left: 38px;
  margin-right: 38px;
}
div.accordion .part:last-child {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

/* --- Sound Cloud Widgets --- */
div.soundclouds iframe {
  max-width: 550px;
  height: 120px;
  float: right;
  margin-bottom: 20px;
}
@media screen and (min-width: 0em) and (max-width: 64em) {
  div.soundclouds iframe {
    max-width: none;
  }
  div.soundclouds.pure-u-24-24 {
    margin-top: 100px;
  }
}



/* ================== */
/*  Events & Tickets  */
/* ================== */

section#events-tickets {
  background-color: rgba(229, 229, 229, 1);
}





/* ================ */
/*  Table Bookings  */
/* ================ */

section#table-bookings {
  background-color: rgba(255, 255, 255, 1);
}





/* ============ */
/*  Venue Hire  */
/* ============ */

section#venue-hire {
  background-color: rgba(255, 255, 255, 1);
}





/* ========= */
/*  Contact  */
/* ========= */

section#contact {
  background-color: rgba(229, 229, 229, 1);
}





/* ======== */
/*  Footer  */
/* ======== */

section#footer {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  padding: 50px 0;
}
section#footer div:last-child {
  text-align: right;
}

section#footer a.baker-hill,
section#footer a.baker-hill:hover {
  color: rgba(255, 0, 81, 1);
}
section#footer div.copyright.pure-u-24-24,
section#footer div.affiliate.pure-u-24-24 {
  text-align: center !important;
}
section#footer div.copyright.pure-u-24-24 {
  margin-bottom: 35px;
}


/*--- Footer Large --- */
@media screen and (min-width: 48em) and (max-width: 81.250em) {
}
