/* ===================================================== */
/* Component:                         Sitewide Variables */
/* ===================================================== */

$black: #000000;
$white: #FFFFFF;
$electric-blue: #00A8FF;
